@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@media only screen and (max-width: 1082px) {
  .wrapper {
    bottom: auto !important;
    position: sticky !important;
  }
  #links {
    background: rgba(162, 134, 69, 0.2) !important;
    height: 150px !important;
    max-width: 98.5% !important;
    margin: 5px !important;
    margin-bottom: 50px !important;
  }
  .fotb {
    top: -10px !important;
    background: rgba(162, 134, 69, 0.2) !important;
    max-width: 98.5% !important;
    margin: 5px !important;
  }
  .footer {
    top: -10px !important;
  }
}
@media only screen and (max-width: 624px) {
  #links {
    height: 260px !important;
    width: 97% !important;
  }
  .fotb {
    height: auto !important;
    width: 97% !important;
  }
  #links ul {
    width: 400px !important;
  }
  .pInstagram {
    margin-left: 19px;
    width: 100px;
  }
}
@media only screen and (max-width: 449px) {
  #links ul {
    width: 300px !important;
  }
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
.wrapper {
  position: sticky;
  bottom: 5vh;
  width: 100%;
}
#links {
  background: rgba(150, 126, 126, 0.205);
  max-width: 700px;
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  z-index: 10;
  position: relative;
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-weight: 400;
  height: 150px;
}

#links ul {
  list-style: none;
}
#links li {
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}
#links li:last-child {
  margin-right: 0px;
}
.titel {
  position: absolute;
  top: -30px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black;
}
.instagram {
  max-width: 80px;
}
body {
  background: rgba(162, 134, 69, 0.2);
}
.copyright {
  text-align: center;

  font-size: 12px;
}
.fotb {
  top: 50px;
  background: rgba(150, 126, 126, 0.205);
  max-width: 700px;
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  z-index: 10;
  position: relative;
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-weight: 400;
  height: auto;
}
.link {
  margin-left: 1.45rem;
  padding: 20px;
}

.footer {
  top: 50px;
  font-size: 15px;
  max-width: 700px;
  padding: 20px;
  border-radius: 10px;
  z-index: 10;
  position: relative;
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-weight: 400;
  height: auto;
}
.handschrift {
  position: absolute;
  width: 500px;
  margin-left: 70px;
}

@supports (
  not ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px)))
) {
  #links {
    background: rgba(221, 209, 209, 0.205);
  }
  .fotb {
    background: rgba(221, 209, 209, 0.205);
  }
}
